.user--wrapper{
    display: flex;
    justify-content: center;
    gap: .2em;
    align-items: center;
}

@media screen and (min-width: 499px){
    .user--wrapper{
        gap: 1em;
    }
}

.user--name{
    font-weight: 500;
    color: #FF6060;
}

.user--picture{
    width: 30%;
    border-radius: 50%;
}