.main--info{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1.5em;
    padding-bottom: 1em;
}

.main--right__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.house--title, .house--location{
    font-weight:500;
    color: #FF6060;
}

.house--title{
    margin-bottom: -0.3em;
}

@media screen and (min-width:992px){
    .dropdown--container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5em;
    }
    .dropdown--container > div{
        width: 100%;
    }

    .main--info{
        flex-direction: row;
        justify-content: space-between;
    }

    .main--right__info{
        flex-direction: column-reverse;
        gap: .5em;
        justify-content: space-evenly;
    }
}