.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.3em;
}

.logo[class~="header-theme"] {
    margin-right: auto;
}

.logo--group {
    position: relative;
    top: 8px;
}

.logo--group > img:first-child{
    width: 2.3em;
}

.logo--group > img:last-child {
    position: absolute;
    top: 26px;
    left: 26px;
    width: .3em;
}

.logo--group[class~="footer-theme"] > img:last-child {
    top: 26px;
    left: 26px;
}

.logo > img{
    width: 1.8em;
}

@media screen and (min-width: 499px){
    .logo > img{
        width: default;
    }
}
